{% extends 'base.html' %}
{% load static %}


{% block content %}
<header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-circle"></i></span>
      Change Password
    </p>
  </header>
  <div class="card-content">
    <form method='post' >
    {% csrf_token %}
      <div class="field">
        <label class="label">Current password</label>
        
        <div class="control">
            {{ form.old_password  }}
        </div>
        <p class="help">Required. Your current password</p>
      </div>
      <hr>
      <div class="field">
        <label class="label">New password</label>
        <div class="control">
            {{ form.new_password1 }}
        </div>
        <p class="help">Required. New password</p>
      </div>
      <div class="field">
        <label class="label">Confirm password</label>
        <div class="control">
            {{ form.new_password2 }}
        </div>
        <p class="help">Required. New password one more time</p>
      </div>
      <hr>
      <div class="field">
        <div class="control">
          <button type="submit" class="button green">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
