{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Dashboard</li>
    </ul>
  
  </div>
</section>
  <section class="section main-section">
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <form method='post'>
              {% csrf_token %}
              <h3>
                Tu asistencia
              </h3>
              <h1>
              {{ form.hour }}
              </h1>
            </div>
            {% if validator == False%}
            
            <button type="submit" class="icon widget-icon text-green-500"><i class="mdi mdi-calendar-clock mdi-48px"></i></button>

            {% elif validator == True and validator_complete == False%}
            <button type="submit" class="icon widget-icon text-red-500"><i class="mdi mdi-calendar-clock mdi-48px"></i></button>
            
            {% elif validator_complete == True %}
            Gracias por marcar tu asistencia
            
            {% endif %}
          </div>
        </div>
      </div>


  </section>

{% endblock content %}
